@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
}

body {
  display: flex;
  justify-content: center;
  background: url(./images/bg-mobile.svg) no-repeat var(--violet);
  background-size: 100vw;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

.container {
  width: 80%;
  height: calc(100vh - 31px * 2);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 31px 0;
}

.visuals {
  display: flex;
  flex-direction: column;
  margin-bottom: -20px;
}

.cta {
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  margin: 65px 0 16px 0;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
}

.logo {
  width: 124px;
  margin-bottom: 60px;
}

.mockup {
  width: 100%;
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
}

button {
  width: 200px;
  height: 40px;
  margin-top: 24px;
  margin-bottom: 52px;

  background: #FFFFFF;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.269022);
  border: none;
  border-radius: 28px;

  color: var(--violet);
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
}

button:hover, button:active {
  color: #fff;
  background: var(--soft-magenta);
  box-shadow: 2px 4px 9px 3px rgba(0, 0, 0, 0.258633);
  border-radius: 28px;
}

.social-links a:hover, .social-links a:focus {
  animation-name: socialAnimation;
  animation-duration: 0.4s;
}

.social-links {
	display: flex;
	justify-content: center;
	list-style-type: none;
}

.social-links li {
	margin: 5px;
}

.social-links li a {
	border: 1px solid hsl(0, 7%, 89%);
	border-radius: 50%;
	color: #fff;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 12.6px;
	height: 28px;
	width: 28px;
	text-decoration: none;
}

.social-links li a:hover, .social-links a:focus {
	border-color: var(--soft-magenta);
	color: var(--soft-magenta);
}

@keyframes socialAnimation {
  0% {
    scale: 1.0;
    font-size: 1px;
  }
  60% {
    scale: 1.2;
  }
  100% {
    scale: 1.0;
    background: var(--soft-magenta);
    font-size: 18px;
  }
}


@media screen and (min-width: 900px) {
  body {
    background: url(./images/bg-desktop.svg) no-repeat var(--violet);
  }

  .container {
    width: 100vw;
    justify-content: center;
    align-content: flex-start;
    padding: 20px 0 0 0;
  }

  .visuals {
    width: 53%;
    max-width: 775px;
  }
  
  .logo {
    width: 220px;
    margin-left: -2px;
    margin-bottom: 86px;
  }

  .mockup {
    max-width: 705px;
    margin-left: 5px;
  }

  .cta {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    width: 47%;
    max-width: 539px;
    height: 100%;
    padding-top: 6px;
  }

  h1 {
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
    line-height: 150%;
    text-align: left;
    margin-top: 174px;
    margin-bottom: 23px;
  }

  p {
    font-size: 18px;
    line-height: 150%;
    text-align: left;
    padding-right: 15px;
  }

  form {
    justify-content: left;
  }

  button {
    height: 56px;
    font-size: 18px;
    line-height: 150%;
  }

  .social-links {
    width: 100%;
    justify-content: flex-end;
    margin-top: 120px;
    margin-right: 7px;
  }

  .social-links li {
    margin: 10px 10px 0 6px;
  }

  .social-links li a {
    font-size: 18px;
    height: 40px;
    width: 40px;
  }
}